/* li {
    text-decoration: none;
    list-style: none;
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin: 10px;
}

.s1 {
    background-color: blue;
}

.s2 {
    background-color: rgb(115, 115, 198);
}

.s3 {
    background-color: rgb(189, 102, 102);

} */